<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid d-flex">
    <a class="navbar-brand flex-grow-1" href="#">
      <img src="/img/game-logo.png" alt="game-logo" style="width: 10rem; height: 5rem;">
    </a>
    <button type="nav-item" class="btn btn-custom position-relative mx-3">
      <i class="fas fa-bell"></i>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> 99+ </span>
    </button>
    <button id="userButton" type="nav-item" class="btn btn-custom position-relative mx-3">
      <i class="fas fa-user"></i>
    </button>
  </div>
</nav>