<div class="col-2 px-0 d-none d-md-block d-lg-block">
  <div class="d-flex flex-column p-3 sidebar-custom">
    <div class="d-flex flex-column align-items-center">
      <i class="fas fa-user-circle mb-1 mt-4"></i>
      <h1 class="my-3">Admin</h1>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto ">
      <li class="nav-item">
        <a href="/admin/dashboard" class="nav-link text-white <%= title == 'Dashboard' ? 'active' : '' %>">
          <i class="fas fa-home me-2"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="/admin/register" class="nav-link text-white <%= title == 'Register' ? 'active' : '' %>">
          <i class="fas fa-user-plus me-2"></i>
          Add New User
        </a>
      </li>
      </li>
      <li>
        <a href="/" class="nav-link text-white">
          <i class="fas fa-sign-out-alt me-2"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>