    <!-- navbar section -->
    <nav class="navbar fixed-top navbar-expand-lg px-5 py-3">
      <div class="container px-5">
        <a class="navbar-brand" href="/"><i class="fas fa-gopuram"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"> <i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="row w-100 px-5">
            <div class="col-md-8">
              <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="#gameplay">Work</a>
                <a class="nav-link" href="#features">Contact</a>
                <a class="nav-link" href="#requirement">About Me</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class=" navbar-nav d-flex justify-content-end">
                <a class="nav-link" href="#">Sign Up</a>
                <a class="nav-link" href="/admin/login">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>