<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')  %>
  <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row vh-100 vw-100">
      
      <!-- sidebar -->
      <%- include('./partials/dash-sidebar')  %>
      
      <!-- main area -->
      <div class="col dashboard-custom">
        
        <!-- navbar dashboard -->
        <%- include('./partials/dash-nav')  %>
        
        <!-- dashboard header -->
        <section class="row board-main mb-5">
          <div class="col">
            <div class="d-flex align-items-center badge-custom">
              <i class="fas fa-globe-africa"></i>
              <h1>Leaderboard</h1>
            </div>
        
            <!-- leaderboard ranks table -->
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">Player</th>
                  <th scope="col">Gamepoint</th>
                  <th scope="col">Country</th>
                </tr>
              </thead>
              <tbody>
                <% userLead.forEach((e,i) => { %>
                <tr>
                  <th class="align-middle" scope="row"><%= 1+i %>  </th>
                  <td class="align-middle"><%= e.username %></td>
                  <td class="align-middle"><%= e.game_point %></td>
                  <td class="align-middle"><img src="https://www.countryflags.io/<%= e.UserGameBio.country %>/flat/32.png"></td>
                </tr>
                <% }); %> 
              </tbody>
            </table>
          </div>

          <!-- map-section -->
          <div class="col d-flex align-items-center">
            <img src="/img/world.svg" alt="world-map" style="width: 45vw; height: 35vh; padding:5px;">
          </div>
        </section>

        <!-- dashboard main table -->
        <section class="row board-table">
          <div class="d-flex align-items-center badge-custom">
            <i class="fas fa-list"></i>
            <h1>Player Overview</h1>
          </div>
          <div class="d-flex justify-content-start mb-5">
            <a href="/admin/register" class="btn btn-primary">Add New User</a>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Player</th>
                <th scope="col">Gamepoint</th>
                <th scope="col">Rank Level</th>
                <th scope="col">More</th>
              </tr>
            </thead>
            <tbody>
              <!-- looping user from database-->
              <% if (userGame.length == 0) { %>
                <tr>
                  <td colspan="4"> 
                    <div class="alert alert-dark" role="alert">
                      <p class="fw-bold">Data masih kosong</p>
                      <a href="#" class="alert-link fw-normal">&laquo;Back</a>
                    </div>
                  </td>
                </tr> 
              <% } else { %> 
                <% userGame.forEach((e,i) => { %>
                  <tr>
                    <th class="align-middle" scope="row"><%= 1+i %></th>
                    <td class="align-middle"><%= e.username %></td>
                    <td class="align-middle"><%= e.game_point %> </td>
                    <td class="align-middle">
                      <% if (e.rank == "Gold") { %>
                        <i class="fas fa-medal me-2" style="color: #C9B037;"></i>
                      <% }; %> 
                      <% if (e.rank == "Silver") { %>
                        <i class="fas fa-medal me-2" style="color: #B4B4B4;"></i>                      
                      <% }; %> 
                      <% if (e.rank == "Bronze") { %>
                        <i class="fas fa-medal me-2" style="color: #6A3805;"></i>                        
                      <% }; %> 
                      <%= e.rank %>
                    </td>
                    <td class="align-middle">
                      <a href="/admin/users?id=<%= e.user_id %>" class="btn btn-success badge rounded-pill">details</a>
                    </td>
                  </tr>
            

                <% }); %> 
              <% } %> 
              
            </tbody>
          </table>
        </section>
      </div>
      <!-- main area end -->
    </div>
  </div>

 

  
  <!-- bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>