<!DOCTYPE html>
<html lang="en">
<head>
  
  <%- include('./partials/head')  %>
  <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
  <%- include ('./partials/navbar') %> 
  <div class="container-fluid header--custom header--custom_gradient">
    
    <div class="row vh-100 vw-100 justify-content-center">
      <div class="col-4 col-custom header--content">

        <form method="POST" action="/admin/login">
          <div class="card">
          <div class="card-header">
            <i class="fas fa-fingerprint"></i>
            <h2 class="card-text">Please login to continue</h2>
          </div>
          <% if (msg.length !== 0) { %>
            <div class="alert alert-warning alert-custom" role="alert">
              <%= msg %> 
            </div>
          <% } %>  
          <div class="card-body">
            
            <div class="my-4">
              <input type="text" class="form-control" id="username" placeholder="username" required name="username">
            </div>
              <div class="my-4">
              <input type="password" class="form-control" id="password" placeholder="password" required name="password">
            </div>
          </div>
          <button type="submit" class="btn btn--custom">Login</button>
        </div>
      </form>
    </div>
    </div>
  </div>
  <!-- bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>