<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')  %>
  <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row vh-100 vw-100">
      
      <!-- sidebar -->
      <%- include('./partials/dash-sidebar')  %>
      
      <!-- main area -->
      <div class="col dashboard-custom">
        
        <!-- navbar dashboard -->
        <%- include('./partials/dash-nav')  %>
        
        <!-- user profile -->
          <section class="row m-1">
            <div class="col-4 board-main card-profile">
              <% userProfile.forEach((e) => { %>
                        
              <!-- card header -->
              <div class="row">
                <div class="col">
                  <% if (e.UserGameBio != null) { %>
                    <img src="https://www.countryflags.io/<%= e.UserGameBio.country %>/flat/64.png">
                  <% } %>
                </div>
                <div class="col d-flex justify-content-end">
                  <h1><%= e.username %></h1>
                </div>
              </div>              
              <!-- card body -->
              <div class="row card-body_custom">
                <h1><%= userGetRank %> </h1>
                <h2 class="fw-light fs-6">Global Rank</i></h2>
              </div>                                   
              <!-- card footer -->
              <div class="row">
                <div class="col">
                  <h1><%= e.game_point %></h1>
                  <h2 class="fw-light fs-6">GamePoint</h2>
                </div>
                <div class="col d-flex flex-column align-items-end">
                <h1>
                  <% if (e.rank == "Gold") { %>
                    <i class="fas fa-medal me-2" style="color: #C9B037;"></i>
                  <% }; %> 
                  <% if (e.rank == "Silver") { %>
                    <i class="fas fa-medal me-2" style="color: #B4B4B4;"></i>
                  <% }; %> 
                  <% if (e.rank == "Bronze") { %>
                    <i class="fas fa-medal me-2" style="color: #6A3805;"></i>
                  <% }; %>
                </h1>
                  <h2 class="fw-light fs-6"><%= e.rank %></h2>
                </div>
              </div>

            <% }); %> 
            </div>

            <!-- profile badge -->
            <div class="col board-main">
              <div class="d-flex align-items-center badge-custom">
                <i class="fas fa-address-card"></i>
                <h1>Edit profile</h1>
              </div>

              <!-- Form UPDATE PROFILE -->

                <% userProfile.forEach(e => { %>
                  <form class="row g-2" method="POST" action="/admin/update?id=<%= e.user_id %>">
                    <div class="col-md-4">
                      <label for="validationDefault01" class="form-label">First name</label>
                      <input type="text" class="form-control" id="validationDefault01" value="<%= e.UserGameBio.first_name %>" name="firstName" required>
                    </div>
                    <div class="col-md-4">
                      <label for="validationDefault02" class="form-label">Last name</label>
                      <input type="text" class="form-control" id="validationDefault02" value="<%= e.UserGameBio.last_name %>" name="lastName" required>
                    </div>
                    <div class="col-md-6">
                      <label for="validationDefault03" class="form-label">Email</label>
                      <input type="email" class="form-control" id="validationDefault03" value="<%= e.UserGameBio.email %>" name="email" required>
                    </div>
                    <div class="col-md-3">
                      <label for="validationDefault04" class="form-label">Country</label>
                      <select id="countries" name="country" class="form-select" required>
                        <option selected value="<%= e.UserGameBio.country %>">Choose..</option>
                        <%- include('./partials/countrycode') %>
                      </select>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                      <button class="btn btn-primary mt-2" type="submit">save changes</button>
                      
                    </div>
                  </form>
                <% }) %>                              
                <button class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="far fa-trash-alt"></i> delete user</button>
              <!-- form end -->
            </div>
          </section>
  

        <!-- dashboard main table -->
        <section class="row m-1 ">
          <div class="col board-table">
            <div class="d-flex align-items-center badge-custom">
              <i class="fas fa-list"></i>
              <h1>Game History</h1>
            </div>
            <% if (userProfile[0].UserGameHistories.length == 0) { %>
              <div class="alert alert-dark d-flex" role="alert">
                <p class="fw-bold">No Records Yet</p>
              </div>
            <% } else { %> 
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Match Point</th>
                  <th scope="col">timestamp</th>
                </tr>
              </thead>
              <tbody>

                  <% for( let i = 0; i < userProfile[0].UserGameHistories.length; i++ ) { %>
                  <tr>
                    <th class="align-middle" scope="row"><%= 1+i %></th>
                    <td class="align-middle"><%= userProfile[0].UserGameHistories[i]['match_point'] %></td>
                    <td class="align-middle"><%= userProfile[0].UserGameHistories[i]['created_at'] %></td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
            <% } %> 
          </div>
        </section>
      </div>
      <!-- main area end -->
    </div>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure to delete this user?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a href="/admin/delete?id=<%= userProfile[0].user_id %>"><button type="button" class="btn btn-primary">Yes</button></a>
          </div>
        </div>
      </div>
    </div>
    <!-- modal end -->
          





  <!-- bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>