/* color & font variables */
:root {
  --clr-primary: #FFB548;
  --clr-primary-accent: #F3AF34;
  --clr-secondary: #1A1C1D;
  --clr-secondary-accent: #5D5E5E;
  --clr-backgound:#EEEEEE;

  --ff-primary:'Bebas Neue', cursive;
  --ff-secondary: 'Open Sans', sans-serif;
}
*{
  font-family: var(--ff-secondary);
}

thead {
  text-transform: uppercase;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 2rem;
  font-family: var(--ff-primary);
}

/* ====== SIDEBAR  =========*/
.sidebar-custom {
  background-color:var(--clr-secondary);
  color: var(--clr-secondary-accent);
  height: 100%;
}
/* icon-user */
.fa-user-circle {
  font-size: 6rem;
}
.nav-link:hover{
  background-color: var(--clr-primary);
  color: var(--clr-secondary) !important;
}

.nav-link.active {
  background-color: var(--clr-primary) !important;
  color: var(--clr-secondary) !important;
}

/* ==== NAVBAR ======== */

/* Dashboard */
.dashboard-custom {
  background-color: var(--clr-backgound);
}

/* navbar */
.navbar-custom {
  background-color: var(--clr-backgound);
  padding: 20px;
}
.navbar-custom a {
  color: var(--clr-secondary);
}
.btn-custom {
  background-color: var(--clr-secondary);
}

.fa-bell,
.fa-user {
  color: var(--clr-secondary-accent);
}

/* ===== MAIN DASHBOARD ========== */

/* main board */
.board-main{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.board-table {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: white;
  padding: 20px 30px;
  margin: 20px;
  border-radius: 10px;
}

/* icon board */
.fa-globe-africa,
.fa-list,
.fa-address-card {
  color:  var(--clr-secondary);
  font-size: 1.8rem;  
}

/* badge */
.badge-custom {
  background-color: var(--clr-primary-accent);
  border-radius: 5px;
  position: relative;
  bottom: 40px;
  width: 250px;
  padding: 5px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.badge-custom h1 {
  color: var(--clr-secondary);
  margin-left: 10px;
  margin-top: 10px;
}

/* medal icon */
.fa-medal {
  font-size: 1.7rem;
}

/* gold #C9B037 */
/* silver #B4B4B4 */
/* bronze #6A3805  */

/* ===== USER PROFILE DASHBOARD ========== */
.card-profile {
  background-image: url(../img/cover-profile.jpg);
  background-size: cover;
  color: var(--clr-backgound);
}

.card-body_custom h1 {
  font-size: 5rem;
  margin-bottom: -2rem;
  text-shadow: 2px 2px 5px var(--clr-secondary);
}
.card-body_custom {
  height: 50%;
  align-items: center;

}
.fa-medal {
  font-size: 2rem;
}


/* ====== REGISTER FORM */

/* .fa-user-plus {
  color: var(--clr-primary-accent);
  font-size: 50px;
  margin: 30px;
} */

/* .register-card_custom {
  background-color: var(--clr-secondary);
  color: white;
} */

/* button */
.btn--custom {
  text-transform: uppercase;
  padding: 1rem 5rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--clr-secondary);
  border: 0px;
  background-image: linear-gradient(194.68deg, var(--clr-primary) 11.27%, var(--clr-primary-accent) 90.4%);
}

.btn--custom a {
  color: var(--clr-secondary);
  text-decoration: none;
}

.form-control:focus {
  border-color: var(--clr-primary);
  box-shadow: 0 0 2px var(--clr-primary-accent);
}
