  /* color & font variables */
  :root {
    --clr-primary: #FFB548;
    --clr-primary-accent: #F3AF34;
    --clr-secondary: #1A1C1D;
    --clr-secondary-accent: #5D5E5E;

    --ff-primary:'Bebas Neue', cursive;
    --ff-secondary: 'Open Sans', sans-serif;
  }
  * {
    color: white;
  }
  a:hover {
    color: white;
  }
  /* == navbar-section == */
  .navbar {
    /* background-color: rgba(0, 0, 0, 0.5); */
    font-family: var(--ff-primary);
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
  /* blur navbar */
  .navbar::before {
    content: '';
    background: var(--clr-secondary);
    /* background: rgba( 8, 8, 8, 0.70 );
    -webkit-backdrop-filter: blur( 12px );
    backdrop-filter: blur( 12px ); */
    display: block;
    width: 100vw;
    height: 75px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
  }
  .nav-link {
    color: rgb(201, 201, 201);
  } 
  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid var(--clr-primary);
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  /* game's logo */
  .fa-gopuram {
    font-size: 1.5rem;
  }

/* body page */
.header--custom {
  background-image: url(../img/requirements.png);
  background-size: cover;
}
.header--content {
  z-index: 1;
  position: relative;
}
.header--custom_gradient::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.692),rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
  left: 0;
}
.header--custom h1 {
  font-size: 5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: var(--ff-primary);
  text-shadow: 2px 2px 5px var(--clr-secondary);
}
.header--custom h2 {
  font-size: 1.5rem;
  font-family: var(--ff-secondary);
}

.col-custom {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* button */
.btn--custom {
  text-transform: uppercase;
  padding: 1rem 5rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  border-radius: 0.2rem;
  color: var(--clr-secondary);
  border: 0px;
  background-image: linear-gradient(194.68deg, var(--clr-primary) 11.27%, var(--clr-primary-accent) 90.4%);
}
.btn--custom:hover {
  transform:scale(1.1,1.1);
  transition: 0.3s ease-in-out;
}
.btn--custom a {
  color: white;
  text-decoration: none;
}